@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 214, 219, 220;
    --background-start-rgb: 18, 18, 18;
    --background-end-rgb: 18, 18, 18;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

p{
  white-space: pre-line;
}

  @layer base {
    h3{
      @apply font-bold capitalize text-2xl text-secondary
    }

    span{
      @apply font-semibold text-[#a7a9be]
    }
  }

.text-primary {
  color: #ff8906
}

.text-secondary {
  color: #fffffe
}

.text-tertiary {
  color: #e53170
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.rating {
  width: 100%; /* Full width */
  background-color: #2e2f3e; /* Grey background */
  height: 35px;
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /*Add bottom padding*/
  padding-right: 10px;
  color: #fffffe; /* White text color */
}

.sql {font-size: 10px; height: 35px; width: 90%; background-color: #ff8906;} /* Blue */
.siebel {font-size: 10px; height: 35px; width: 90%; background-color: #ff8906;} /* Red */
.js {font-size: 10px; width: 85%; background-color: #ff8906;} /* Green */
.python {font-size: 10px; width: 80%; background-color: #ff8906;} /* Green */
.informix {font-size: 10px; width: 80%; background-color: #ff8906;} /* Dark Grey */
.tailwind {font-size: 10px; width: 75%; background-color: #ff8906;} /* Blue */
.ts {font-size: 10px; width: 75%; background-color: #ff8906;} /* Red */
.react {font-size: 10px; width: 70%; background-color: #ff8906;} /* Green */
.next {font-size: 10px; width: 60%; background-color: #ff8906;} /* Green */

.go {font-size: 10px; width: 40%; background-color: #ff8906;} /* Blue */
.flutter {font-size: 10px; width: 20%; background-color: #ff8906;} /* Red */
